# =====================
# Python
# =====================

__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.venv/
env/

# =====================
# Environment Variables
# =====================

.env

# =====================
# Database
# =====================

*.db
*.sqlite3

# =====================
# Logs
# =====================

*.log

# =====================
# VS Code
# =====================

.vscode/

# =====================
# OS Files
# =====================

.DS_Store
Thumbs.db

# =====================
# Node
# =====================

node_modules/

# =====================
# React Build
# =====================

dist/
build/

# =====================
# Testing
# =====================

.coverage
.pytest_cache/

# =====================
# ML Models (Optional)
# =====================

*.pkl

# =====================
# Jupyter
# =====================

.ipynb_checkpoints/

# =====================
# Render / Deployment
# =====================

.render/